.no-scroll {
  overflow: hidden;
}
.delete-btn {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  right: -40px;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
  border: 2px solid rgb(146, 25, 206);
}
.card {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid grey;
  width: fit-content;
  background-color: white;
}

.card__photo {
  height: 400px;
  width: 300px;
}

.card__button {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 3%;
  right: 5%;
}

.card__button:hover {
  cursor: pointer;
}

.card__button-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

.card__title {
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.card__price {
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: red;
}

.card__color {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.card__vendor-code {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: grey;
}
