.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  height: auto;
  padding: 56px;
  border-radius: 16px;
  background: #fff;
}

.modal__header {
  display: flex;
  justify-content: end;
}

.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__body-rectangle {
  width: 276px;
  height: 340px;
  background: #d9d9d9;
  margin-bottom: 85px;
}

.modal__body-title {
  color: #191919;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

.modal__body-text {
  width: 448px;
  color: #7f7f7f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.modal__close-btn {
  position: fixed;
  right: 22px;
  top: 22px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__close-icon {
  width: 22px;
  height: 22px;
}

.modal__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 64px;
}
